;; shadow-cljs configuration
{:source-paths
 ["src"]
 
 :deps true 
 
 :builds
 {:main
  {:target :node-script
   :output-to "app/main.js"
   :main example.main/main
   :devtools
   {:before-load example.main/stop
    :after-load example.main/start}}
  
  :renderer
  {:target :browser
   :output-dir "app/js"
   :asset-path "js"
   
   :js-options {:js-provider :require}
   
   :modules
   {:renderer {:entries [example.renderer]}}
   
   :devtools
   {:before-load example.renderer/stop
    :after-load example.renderer/start
    :devtools {:watch-dir "app/css"}}}
  
  :test-stuff
  {:target :node-script
   :output-to "test_stuff/main.js"
   :main test-stuff.core/main
   :devtools
   {:before-load test-stuff.core/stop
    :after-load test-stuff.core/start}}}}
